@media (max-width: 1920px) {
.footerAltura{
    height: 211px;
}
  }


  @media (max-width: 1360px) {
.footerAltura{
    height: 150px;
}
  }



  .hamburguesa-menu {
    position: relative;
    margin: 1rem;
  }

  .hamburguesa-icon {
    cursor: pointer;
    font-size: 24px;
  }
  
  .menu-desplegable {
    position: absolute;
    top: 30px;
    right: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  .seccion{
    color: rgba(143, 13, 60, 1);
  }