.botonHome1 {
  background-color: #8f0d3c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: ease 0.3s;
}

.botonHome1:hover {
  background-color: #c60e50;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  transition: ease 0.3s;
}

.botonHome2 {
  color: #8f0d3c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.botonHome2:hover {
  background-color: #c60e50;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  color: white;
}

.comun {
  color: rgba(108, 108, 108, 1);
}
.comun:hover {
  color: black;
}

@media (max-width: 1920px) {
  .fotohome1 {
    width: 886px;
    height: 753px;
  }

  .textoo1{
    font-size:45px ;
    line-height: 39px;
  }
  .textoo2 {
    font-size: 30px;
    line-height: 30px;
  }
  .conteiner {
    gap: 17rem;
    margin-top: 10rem
  }
  .textoHOME3-2{
    font-size: 30px;
  }
  .textoHOME3{
    font-size: 50px;
    margin-top: 10rem;
  }
}

@media (max-width: 1360px) {
  .fotohome1 {
    height: 453px;
    width: 586px;
  }
  .texto {
    margin-left: 2%;
   
  }
  .textoo1 {
    font-size: 25px;
  }
  .textoo2 {
    font-size: 25px;
    line-height: 25px;
  }
  .conteiner {
    gap: 4rem;
    margin-top: 5rem
  }
  .textoHOME3-2{
    font-size: 20px;
  }
  .textoHOME3{
    font-size: 30px;
    margin-top: 5rem;
  }


}


@media (max-width: 765px) {

  .textoo1 {
    font-size: 20px;
    line-height: 20px;
  }
  .textoo2 {
    font-size: 20px;
    line-height: 25px;
  }




}
